/src/ @favna @vladfrangu
sidebars.js @favna @vladfrangu
docusaurus.config.js @favna @vladfrangu

/docs/ @kyranet @favna @vladfrangu
LICENSE.md @kyranet @favna @vladfrangu

/scripts/ @favna
/static/ @favna
/.github/ @favna
/.vscode/ @favna
.npm-deprecaterc.yml @favna
jest.config.ts @favna
babel.config.js @favna
package.json @favna
README.md @favna
