[submodule "projects/framework"]
	path = projects/framework
	url = https://github.com/sapphiredev/framework
	branch = main
	update = rebase
[submodule "projects/pieces"]
	path = projects/pieces
	url = https://github.com/sapphiredev/pieces
	branch = main
[submodule "projects/utilities"]
	path = projects/utilities
	url = https://github.com/sapphiredev/utilities
	branch = main
[submodule "projects/plugins"]
	path = projects/plugins
	url = https://github.com/sapphiredev/plugins
	branch = main
[submodule "projects/cli"]
	path = projects/cli
	url = https://github.com/sapphiredev/cli
	branch = main
[submodule "projects/type"]
	path = projects/type
	url = https://github.com/sapphiredev/type
	branch = main
