{
	"tabWidth": 2,
	"useTabs": false,
	"endOfLine": "lf",
	"printWidth": 150,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"overrides": [
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json",
				"tabWidth": 4,
				"useTabs": true
			}
		}
	]
}
