:root {
	--ifm-color-primary: #2563eb;
	--ifm-color-primary-dark: #1554e0;
	--ifm-color-primary-darker: #1350d4;
	--ifm-color-primary-darkest: #1042ae;
	--ifm-color-primary-light: #3e75ed;
	--ifm-color-primary-lighter: #4a7eee;
	--ifm-color-primary-lightest: #7098f2;
	--ifm-code-font-size: 95%;
	--ifm-font-family-monospace: 'Fira Code', 'Meslo NGF', 'JetBrains Mono', 'Menlo', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;

	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
	--sapphire-paper-drop-shadow-4: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

html[data-theme='dark'] {
	--ifm-color-primary: #81d4fa;
	--ifm-color-primary-dark: #5dc8f9;
	--ifm-color-primary-darker: #4ac1f8;
	--ifm-color-primary-darkest: #14aff6;
	--ifm-color-primary-light: #a5e0fb;
	--ifm-color-primary-lighter: #b8e7fc;
	--ifm-color-primary-lightest: #eef9fe;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
	--sapphire-paper-drop-shadow-4: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.footer--dark {
	--ifm-footer-background-color: var(--ifm-footer-background-color);
	--ifm-footer-color: var(--ifm-font-color-base);
	--ifm-footer-link-color: var(--ifm-link-color);
	--ifm-footer-title-color: var(--ifm-font-color-base);
}

@media screen and (min-width: 966px) {
	footer > .container {
		display: grid;
		place-content: center;
	}
}

@media screen and (max-width: 966px) {
	footer > div > div.row.footer__links {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
}
